{%- if recipe.image -%}
![{{recipe.image.alt}}]({{recipe.image.url}})
{%- endif %}
## {{recipe.name}}

{{recipe.description}}

### Ingredients

| Name | Amount |
| ---- | ------ |
{% for ingredient in recipe.ingredients -%}
| {{ingredient.formatted_name}} | {{ingredient.amount}} |
{% endfor %}

{% if recipe.steps %}
### Steps
{% for step in recipe.steps %}
- [ ] {{step.step}}
{%- if step.substeps is not none %}
{%- for substep in step.substeps %}
    - [ ] {{substep}}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}

### Produces
{{recipe.produces}}

{% if recipe.source %}
### Source
<{{recipe.source}}>
{% endif %}
